<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- user -->
		<typeAlias type="com.web.bomulsum.user.login.repository.MemberVO" alias="memberVO"/>	
		<typeAlias type="com.web.bomulsum.user.profile.repository.UserProfileVO" alias="UserProfileVO"/>	
		<typeAlias type="com.web.bomulsum.user.profile.repository.UserProfileOrderVO" alias="UserProfileOrderVO"/>	
		<typeAlias type="com.web.bomulsum.user.profile.repository.UserProfileAddressVO" alias="UserProfileAddressVO"/>	
		<typeAlias type="com.web.bomulsum.user.reserves.repository.UserReservesVO" alias="UserReservesVO"/>	
		<typeAlias type="com.web.bomulsum.user.wishlist.repository.UserLikeWriterVO" alias="UserLikeWriterVO"/>
		<typeAlias type="com.web.bomulsum.user.whome.repository.UserWHomeVO" alias="UserWHomeVO"/>
		<typeAlias type="com.web.bomulsum.user.gift.repository.UserSendGiftVO" alias="UserSendGiftVO"/>
		<typeAlias type="com.web.bomulsum.user.gift.repository.UserSendGiftDetailVO" alias="UserSendGiftDetailVO"/>
		<typeAlias type="com.web.bomulsum.user.gift.repository.UserReceiveGiftVO" alias="UserReceiveGiftVO"/>
		<typeAlias type="com.web.bomulsum.user.gift.repository.UserReceiveGiftDetailVO" alias="UserReceiveGiftDetailVO"/>
		<typeAlias type="com.web.bomulsum.user.popular.repository.UserPopularWriterVO" alias="UserPopularWriterVO"/>
		<typeAlias type="com.web.bomulsum.user.order.repository.UserShopbagVO" alias="UserShopbagVO"/>
		<typeAlias type="com.web.bomulsum.user.order.repository.UserShopbagOptionVO" alias="UserShopbagOptionVO"/>
		<typeAlias type="com.web.bomulsum.user.order.repository.UserShopbagModalVO" alias="UserShopbagModalVO"/>
		<typeAlias type="com.web.bomulsum.user.buydirect.repository.UserBuyNowVO" alias="UserBuyNowVO"/>
		<typeAlias type="com.web.bomulsum.user.bookmark.repository.UserBookmarkVO" alias="UserBookmarkVO"/>
		<typeAlias type="com.web.bomulsum.user.payment.repository.UserCouponPaymentVO" alias="UserCouponPaymentVO"/>
		<typeAlias type="com.web.bomulsum.user.payment.repository.UserPaymentVO" alias="UserPaymentVO"/>
		
		<!-- manager -->
		<typeAlias type="com.web.bomulsum.manager.list.repository.ManagerListWriterVO" alias="ManagerListWriterVO"/>
		<typeAlias type="com.web.bomulsum.manager.list.repository.ManagerListUserVO" alias="ManagerListUserVO"/>
		<typeAlias type="com.web.bomulsum.manager.manage.repository.ManagerManageClassVO" alias="ManagerManageClassVO"/>
		<typeAlias type="com.web.bomulsum.manager.manage.repository.ManagerManageArtVO" alias="ManagerManageArtVO"/>
		
		<!-- writer -->
		<typeAlias type="com.web.bomulsum.writer.board.repository.writerBoardVO" alias="writerBoardVO"/>	
		<typeAlias type="com.web.bomulsum.writer.gempoint.repository.WriterGempointVO" alias="WriterGempointVO"/>	
		<typeAlias type="com.web.bomulsum.writer.login.repository.WriterRegisterVO" alias="WriterRegisterVO"/>
		<typeAlias type="com.web.bomulsum.writer.profile.repository.WriterProfileVO" alias="WriterProfileVO"/>
		<typeAlias type="com.web.bomulsum.writer.salespolicy.repository.WriterSalesPolicyVO" alias="WriterSalesPolicyVO"/>
		<typeAlias type="com.web.bomulsum.writer.midas.repository.WriterMidasVO" alias="WriterMidasVO"/>
		<typeAlias type="com.web.bomulsum.writer.myinfo.repository.WriterMyinfoVO" alias="WriterMyinfoVO"/>
	</typeAliases>

	<mappers>
		<!--user -->
		<mapper resource="mappings/user/login-mapping.xml" />		
		<mapper resource="mappings/user/user-profile-mapping.xml" />
		<mapper resource="mappings/user/user-message-mapping.xml" />
		<mapper resource="mappings/user/user-board-mapping.xml" />
		<mapper resource="mappings/user/user-coupon-mapping.xml" />
		<mapper resource="mappings/user/user-article-mapping.xml" />
		<mapper resource="mappings/user/user-reserves-mapping.xml" />
		<mapper resource="mappings/user/user-wishlist-mapping.xml" />
		<mapper resource="mappings/user/user-midas-mapping.xml" />
		<mapper resource="mappings/user/user-whome-mapping.xml" />
		<mapper resource="mappings/user/user-productInfo-mapping.xml" />
		<mapper resource="mappings/user/user-gift-mapping.xml" />
		<mapper resource="mappings/user/user-popular-writer-mapping.xml" />
		<mapper resource="mappings/user/user-review-mapping.xml"/>
		<mapper resource="mappings/user/user-shopbag-mapping.xml" />
		<mapper resource="mappings/user/user-recently-mapping.xml" />
 		<mapper resource="mappings/user/user-bookmark-mapping.xml" /> 
		<mapper resource="mappings/user/user-payment-mapping.xml" /> 	
		<mapper resource="mappings/user/user-myinfo-mapping.xml"/>
		<mapper resource="mappings/user/user-orderList-mapping.xml" />
		<mapper resource="mappings/user/user-buy-now-mapping.xml" />
			
		<!-- manager -->
		<mapper resource="mappings/manager/manager-board-mapping.xml" />
		<mapper resource="mappings/manager/manager-list-mapping.xml" />
		<mapper resource="mappings/manager/manager-manage-mapping.xml" />
		<mapper resource="mappings/manager/manager-statistics-mapping.xml" />
		
		<!-- writer -->
		<mapper resource="mappings/writer/writer-board-mapping.xml" />	
		<mapper resource="mappings/writer/writer-gempoint-mapping.xml" />
		<mapper resource="mappings/writer/writer-login-mapping.xml" />
		<mapper resource="mappings/writer/writer-art-mapping.xml" />
		<mapper resource="mappings/writer/writer-profile-mapping.xml" />
		<mapper resource="mappings/writer/writer-salespolicy-mapping.xml" />
		<mapper resource="mappings/writer/writer-midas-mapping.xml" />
		<mapper resource="mappings/writer/writer-activity-mapping.xml" />
		<mapper resource="mappings/writer/writer-myinfo-mapping.xml" />
		<mapper resource="mappings/writer/writer-message-mapping.xml" />
		<mapper resource="mappings/writer/writer-order-mapping.xml" />
		<mapper resource="mappings/writer/writer-sales-mapping.xml" />
		
	</mappers>
</configuration>